<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" href="@Url.Content("~/Content/Images/favicon.ico")" />
    <title>@ViewBag.Title</title>

    <!-- Plugin Styles -->
    @RenderSection("pluginStyles", required: false)

    <!-- App Styles -->
    @RenderSection("ownStyles", required: false)
</head>
    <body>
        <!-- Div Loading -->
        <div class="loading-div"></div>

        @RenderBody()

        <!-- Plugin Scripts -->
        @RenderSection("pluginScripts", required: false)

        <!-- App Common General Scripts -->
        @Scripts.Render("~/bundles/js/own/general")

        @RenderSection("ownScripts", required: false)

        <script type="text/javascript">
            window.serverPath = "@Url.Content("~")";
        </script>
    </body>
</html>